<!DOCTYPE html>
<html lang="ru ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li>{% block username %}{% endblock %}</li>
            <li> <a href="/treads">Threads</a> </li>
        </ul>
    </div>
    <div class="main">
        {% block main %}{% endblock %}
    </div>

    <div class="footer">
        <p>Barnaul 2023</p>
        <p>&copy Copyright Talisman Mel</p>
        <p>За всё написанное посетителями сайта создатель ответственности не несёт.</p>
    </div>
    <script src="/static/signin.js"></script>
</body>
</html>