{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block username %}

{% if username != 'login'  %}
    <a href="/{{username}}">{{username}}</a>
{% else %}
    <a href="/login">login</a>
{%endif%}

{% endblock %}

{% block main %}

<div class="main">
    <h1>Добро пожаловать!</h1>

    <a class="signin-or-login" href="login">Войти</a>

    <div class="ALERT">
        <h2>Внимание!!!!</h2>
        <h2>НА ПАНЕЛИ ВВОДА СООБЩЕНИЯ ЕСТЬ ИНДИКАТОР СТАТУСА ОТПРАВКИ СООБЩЕНИЯ</h2>
        <h2>ЕСЛИ ВЫЙТИ СО СТРАНИЦЫ ПОКА ИНДИКАТОР <span style="color: #f00;">КРАСНЫЙ</span>, ТО СООБЩЕНИЕ С МЕДИАФАЙЛОМ НЕ ЗАГРУЗИТСЯ</h2>
    </div>

    <h2>Вот случайная тема на форуме: (Пока не добавлено)</h2>
    <div class="randomthread">
        {% if rantr != None %}
            <a href="/thread/{{rantr}}">{{rantr}}</a>
        {% else %}
            <p>Сервер пуст</p>
        {%endif%}
    </div>
</div>

{% endblock %}