{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block username %}

{% if username != 'login'  %}
    <a href="/{{username}}">{{username}}</a>
{% else %}
    <a href="/login">login</a>
{%endif%}

{% endblock %}

{% block main %}

<div class="main">
    <h1>Добро пожаловать!</h1>

    <a class="signin-or-login" href="login">Войти</a>

    <h2 class="ALERT">ВНИМАНИЕ!!!!! НА ДАННОМ САЙТЕ НЕТ ИНДИКАЦИИ ПРОЦЕССА ЗАГРУЗКИ ФАЙЛОВ И ПОЭТОМУ ЕСЛИ ЗАГРУЖАЕТЕ БОЛЬШОЙ ФАЙЛ, НЕ ВЫХОДИТЕ СО СТРАНИЦЫ НЕКОТОРОЕ ВРЕМЯ. КОГДА НА САЙТЕ ПОЯВИТСЯ(если появится) АВТОДОБАВЛЕНИЕ НОВЫХ СООБЩЕНИЙ СТАНЕТ ПОНЯТНО, ЗАГРУЖЕН ЛИ ФАЙЛ.</h2>

    <h2>Вот случайная тема на форуме: (Пока не добавлено)</h2>
    <div class="randomthread">
        {% if rantr != None %}
            <a href="/thread/{{rantr}}">{{rantr}}</a>
        {% else %}
            <p>Сервер пуст</p>
        {%endif%}
    </div>
</div>

{% endblock %}