{% extends "base.html" %}

{% block title %}{{thread}}{% endblock %}

{% block username %}<a href="/user/{{username}}">{{username}}</a>{% endblock %}

{% block main %}

{% for message in messages %}
    {% if current_user.name == message['name'] %}
        <div class="threadbl" style="display: block; width: 100%; min-height: 170px; background-color: rgb(1, 94, 1); padding-top: 20px; border: 1px solid black;">
            <a href="/user/{{message['name']}}" >{{message['name']}}</a>
            <p class="msgtxt" style="color: white; text-decoration: none; font-size: 21px; background-color: rgb(1, 46, 1);">{{message['text']}}</p>
            <p class="msgdate" style="text-align: right; background-color: rgb(1, 94, 1); margin-right: 20px;">{{message['date']}}</p>
            <a href="/delete/message/{{thread}}/{{message['id']}}">Remove</a>
        </div>
    {% else %}
        <div class="threadbl" style="display: block; width: 100%; min-height: 170px; background-color: #333333; padding-top: 20px; border: 1px solid black;">
            <a href="/user/{{message['name']}}" >{{message['name']}}</a>
            <p class="msgtxt" style="color: white; text-decoration: none; font-size: 21px; background-color: #111111;">{{message['text']}}</p>
            <p class="msgdate" style="text-align: right;">{{message['date']}}</p>
           <p></p> <a href="/delete/message/{{thread}}/{{message['id']}}">Remove</a></p>
        </div>
    {% endif %}
{% endfor %}

<div class="writemsg">
    <input type="text" name="" placeholder="Сообщение" class="message">
    <button onclick="send();">Отправить</button>
</div>

<script>
    function send(){
        let name = document.querySelector('.username').textContent;
        let message = document.querySelector(".message");
        let threadname = '{{thread}}';
        const url = '/newmessage';
        const xhr = new XMLHttpRequest();
        const formData = new FormData();
        formData.append('name', name);
        formData.append('message', message.value);
        formData.append('threadname', threadname)
        xhr.open('POST', url, true);
        xhr.send(formData);
        message.value = '';
    }

</script>

{% endblock %}