{% extends "base.html" %}

{% block title %}{{thread}}{% endblock %}

{% block username %}<a href="/user/{{username}}">{{username}}</a>{% endblock %}

{% block main %}

<h1 class="threadname">{{thread}}</h1>
<p class="thread_date">{{ date }}</p>

<a href="/threads" style="color: white; text-decoration: none;"> <-- Назад</a>



<div class="writemsg">
    
    <input type="file" name="file" id="file">
    <input type="text" name="" placeholder="Сообщение" class="message-input" autocomplete="no">
    <button type="submit" id="send" class="send" onclick="send()">отправить</button>
    
    
</div>

<script src="/static/imagebigger.js"></script>
<script src="/static/getThreadMessages.js"></script>

<script>
    
    


    function send(){
        let message = document.querySelector(".message-input");
        let name = document.querySelector('.username').textContent;
        let file = document.querySelector('#file');
        let threadname = document.querySelector('.threadname').textContent
        let emptyFile = document.createElement('input');
        emptyFile.type = 'file';

        const url = '/newmessage';
        const xhr = new XMLHttpRequest();
        const formData = new FormData();

	    formData.append('message', message.value);
        formData.append('name', name);
        if(file.files[0] != undefined){
            formData.append('file', file.files[0]); 
        }
        formData.append('tfile',(file.files[0] != undefined))
        formData.append('threadname', threadname);

	    xhr.open('POST', url, true);
	    xhr.send(formData);

        
        message.value = '';
        file.files = emptyFile.files;
    }


    document.addEventListener('DOMContentLoaded', function() {
    // Функция для имитации клика по кнопке
    function triggerButtonClick(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Предотвращаем стандартное поведение Enter
            document.getElementById('send').click(); // Имитируем клик по кнопке
        }
    }

    // Добавляем обработчик события keydown к телу документа
    document.addEventListener('keydown', triggerButtonClick);
    });
</script>

{% endblock %}