{% extends "base.html" %}

{% block title %}{{thread}}{% endblock %}

{% block username %}<a href="/user/{{username}}">{{username}}</a>{% endblock %}

{% block main %}

<h1 class="threadname">{{thread}}</h1>
<p class="thread_date">{{ date }}</p>

<a href="/threads" style="color: white; text-decoration: none;"> <-- Назад</a>



<div class="writemsg">
    
    <input type="file" name="file" id="file">
    <input type="text" name="" placeholder="Сообщение" class="message-input" autocomplete="no">
    <button type="submit" id="send" class="send" onclick="send()">отправить</button>
    
    
</div>

<script src="/static/imagebigger.js"></script>
<script src="/static/getThreadMessages.js"></script>
<script src="/static/send_mess.js"></script>

{% endblock %}